body{
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.shiny-notification{
  position:fixed;
  bottom:50%;
  left:40%;
  width:30%;
  padding:2%;
}

.progress-text{
  font-size:2rem;
}

.download-row{
  padding: 15px 10px 15px 20px;
}

.navbar-default{
  background-color: #75aadb;
  border-color: none;
}

.well {
  background-color: rgb(240, 240, 250);
  border: none;
}

h1,
h2
{
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 5rem;
  line-height: 5.5rem;
  color:#75aadb;
}

h3,
h4,
h5{
  font-family: 'Saira Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: #343a40;
}

h4{
  font-size: 2rem;
  line-height: 2.5rem;
}

