.Rproj.user
.Rhistory
.RData
.Ruserdata
/intro
/www/Caddyfile
/articles
/design
*kev.eq.data
*kev.emf.data
*kev.nm.data
*kev.data
*notpublished*
*checkpoint*
/app_py/kev/__pycache__
*.pyc
*~$*xlsx
*~lock.data*
*checkpoint.ipynb